<div class="file-wrapper index-{{index}} {{className}}" data-index="{{index}}" style="position:relative;">
  {{fileName}}
  <div class="handle" style="position:absolute;bottom:0;background:red;width:100%;text-align:right;height:0;overflow:hidden">
    <span class="delete-file" data-role="delete-file" style="cursor:pointer">删除</span>
  </div>
</div>

