<div class="file-wrapper index-{{index}} {{className}}" data-index="{{index}}">
  <span class="file-info">
    <span class="file-name">{{fileName}}</span>
    <div class="handle">
      <span class="delete-file" data-role="delete-file">删除</span>
    </div>
  </span>

</div>

