<div class="{{classPrefix}}" data-index="{{index}}">
  <img class="pic" alt="{{fileName}}" title="{{fileName}}" />
  <div class="handle">
    <span class="delete-pic" data-role="delete-pic">删除</span>
  </div>
</div>

